@tailwind base;
@tailwind components;
@tailwind utilities;

/* VS Code Style Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  /* zinc-700 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  /* zinc-600 */
}

@layer base {
  ::selection {
    @apply bg-brand/30 text-white;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-brand ring-offset-2 ring-offset-main;
  }
}