# Python
venv/
__pycache__/
*.py[cod]
.env

# Node
node_modules/
.next/
out/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Data
data/
*.json
!package.json
!tsconfig.json

# Documentation and Specific Folders
*.md
!README.md
spec/
landing/
